@import "themes/dark.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-color);
    height: 100vh;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}