@import "themes/dark.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-color);
    height: 100vh;
    font-family: "Open Sans", sans-serif;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}