.DiffHistory{
    height: 100%;
    width: 300px;
    flex-shrink: 0;
    padding-right: 10px;
}
.title{
    height: 50px;
    text-align: center;
    color: var(--font-color);
    font-weight: 700;
}
.container{
    height: calc(100% - 70px);
    overflow-y: scroll;
    margin-bottom: 20px;
}