.Button {
    width: 350px;
    height: 117px;
    border: none;
    outline: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: 32px;
    text-align: center;
}

.primary {
    background: var(--primary-color);
}
.primary:hover {
    background: var(--secondary-color);
}
.secondary {
    background: var(--secondary-color);
}
.secondary:hover {
    background: var(--primary-color);
}