:root {
    --bg-color: #E7EEF7;
    --primary-color: #264B82;
    --secondary-color: #0D9B68;
    --tertiary-color: #F67319;
    --danger-color: #DB2B21;
    --font-color: #1A1A1A;
    --font-secondary-color: #8C8C8C;
}